
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: rgb(255, 255, 255) !important;
}
