p {
    width: 60%;
}

.background {
    opacity:0.7; 
    height:60vh;
    width:100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.media {
    display:flex;flex-direction:column;
}