footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #343a40;
    color: white;
    bottom: 0px;
    margin-bottom: 0;
}

footer h4 {
    color: #38b96f;
}

.footer-content {
    width: 40%;
    margin: 15px;
}

footer .footer-content p {
    margin: 20px 50px 20px 0;
    color: white;
}

.footer-links {
    width: 20%;
    margin: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

.footer-links ul li a:hover {
    text-decoration: none;
    color: #39644c;
}

@media (min-width: 320px) and (max-width: 480px) {

    footer {
        flex-direction: row;
    }

    .footer-content {
        display: none;
    }

    .footer-links {
        text-align: center;
        width: 100%;

    }


}
