
#carousel-2, #carousel-1 {
    height:58vh !important;
    width:100vw !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}